{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "semi": true,
  "tabWidth": 2,
  "bracketSameLine": true,
  "bracketSpacing": false,
  "singleAttributePerLine": true,
  "printWidth": 120
}
